<p>
  <button ng-click="start()" class="btn btn-danger" ng-hide="playing">Start</button>
  <button ng-click="logout()" class="btn btn-default">Log out</button>
  <div class="timer">{{time}}</div>
</p>

<div class="background">
  <table>
    <tr ng-repeat="row in gameboard track by $index">
      <td class="cell" ng-repeat='cell in row track by $index'>

        <div class="fieldOfView" ng-if="!playing || closeToPlayer($parent.$index, $index)">
          <img class="avatar" alt="player" ng-src="{{cell.picture}}" ng-if="cell.picture">
          <img class="zombie" src="http://vignette2.wikia.nocookie.net/megamitensei/images/7/71/SMT_IF_zombie_teacher_sprite.gif" alt="zombie" ng-if="cell.zombie">
        </div>

      </td>
    </tr>
  </table>
</div>

<h1 ng-show="death" class="death">you died <br> zombies win</h1>
