.cell {
  /* add variable for cell height & width later */
  width: calc(100vw/32);
  height: calc(100vw/32);
}

.avatar {
  height: calc(100vw/33);
  border-radius: 50%;
}

.zombie {
  height: calc(100vw/33);
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Annie Use Your Telescope', cursive;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

.background {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.loginScreen {
  width: 50%;
  margin: 0 auto;
}

.death {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1000%;
  color: red;
}

.timer {
  position: absolute;
  right: 6%;
  top: -8%;
  font-size: 1000%;
  color: red;
}

.fieldOfView {
  background: rgba(255, 255, 255, 0.26);
  height: 100%;
  width: 100%;
}
